.app__menuitem {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 2fr));
    grid-gap: 1.5em;
    background: url('../../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}


.card {
    background: url('../../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-ing,
.ing-btn {
    color: var(--color-golden);
}

.app__menuitem-head {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.app__menuitem-sub-cocktail {
    /* width: 100%;
    margin-top: 0.2rem;
     */
    padding: 0.5em 1em;
    text-align: center;
}


.app__menuitem-dash {
    width: 100%;
    height: 2px;
    background: var(--color-golden);

}

.app__menuitem-price-cocktail {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
    text-align: center;
    padding: .5em 1em;
    border-radius: 10px;

}

.app__menuitem-name-cK {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.5em 1em;

}

.app__menuitem-name-cK p {
    align-self: center;

    border-radius: 10px;
}



.instructions-container-cocktail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 0.5em 1em;
}

#measure {
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: var(--font-base);
    color: var(--color-white);
    padding: 0.25rem .5rem;
    background: var(--color-black);
}

#measure:hover {
    cursor: pointer;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5em 1em;
}

.instructions>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.instructions ul {
    list-style: none;
}

@media screen and (min-width: 2000px) {}

@media screen and (max-width: 1150px) {}

@media screen and (max-width: 900px) {
    .app__menuitem {

        grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    }

    .app__menuitem-sub-cocktail {

        padding: 0;
    }


    .app__menuitem-price-cocktail {

        padding: 0;
    }


}